<div class="container d-flex align-items-center">
  <h1 class="text-center h1-sm" style="color:028090">FIND A HAND</h1>
    <ul class="d-flex flex-wrap justify-content-center p-0">
      <% @services.each do |service| %>
        <li class="p-2 card"><%= link_to service.title, service_path(service) %>
          <%= cl_image_tag(service.photo.key,
          width: 400, height: 300, crop: :fill, class: "img-fluid rounded") %>
        </li>
      <% end %>
    </ul>
    </div>
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
