<h1><%= @service.name %></h1>
<p><%= @service.description %></p>
<p>Price: <%= @service.price %></p>

<%= link_to "Delete",
  service_path(@service),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this service?"}
%>
