<div class="container">
  <h3>Bookings#destroy app/views/bookings/destroy.html.erb</h3>

  <h1>Delete booking</h1>

  <%= render "form", booking: @booking %>

  <br>

  <div>
    <%# @JP - This is incorrect %>
    <%= link_to "Delete this booking", @booking %> |
    <%= link_to "Back to bookings", bookings_path %>
  </div>

</div>
