<div class="container">
  <h3>app/views/bookings/new.html.erb</h3>

  <h1>New booking</h1>

  <%= render "form", booking: @booking %>

  <br>

  <div>
    <%= link_to "Back to bookings", service_bookings_path(@booking.service) %>
  </div>
</div>
