<div class="container">
  <h3>Bookings#show app/views/bookings/show.html.erb</h3>

  <%= render @booking %>

  <div>
    <%= link_to "Edit this booking", edit_booking_path(@booking) %> |
    <%= link_to "View all my bookings", dashboard_path , class: "btn btn-primary"%>

    <%= button_to "Delete this booking", @booking, method: :destroy %>
  </div>

</div>
