.navbar-lewagon {
  justify-content: space-between;
  background-color: F0F3BD;
  padding: 5px 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
  height: 97px;
}
