.form-horizontal {
  background-color: #c7d5e4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  border-radius: 4px;
}

.btn-secondary {
  background-color: transparent;
}

.btn-primary {
  // background-color: transparent;
  border-color: #111213;
  transition: background-color 0.3s ease;
  size: 40px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: rgb(123, 184, 184);
  border-color: #1e2022;
  }

.btn-secondary:hover {
    background-color: transparent;
    border-color: #1e2022;
    }

body {
  background-color: rgb(206, 230, 230);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 40px;
  color:#298a8a;
  font-weight: bolder;
  font-size: 70px;
}

.navbar {
  a {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 5px 0px;
  size: 10px;
  transition: none;
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
  }
}

.navbar-brand {
  img {
  width: 60px;
  height: 60px
  }
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

li {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s;
}

li:hover {
  transform: scale(1.05);
}

li a {
  display: inline-block;
  background-color: 028090;
  font-weight: bold;
  color: #298a8a;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

li a:hover {
  background-color:transparent;
}

.img-fluid {
  border-radius: 10px;
}

.card {
  background-color: 028090;
  border: transparent;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  box-shadow: #0d332b;
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  padding: 20px;
}

.btn {
  margin-top: 10px;
}

li.nav-item {
  padding: 0px 10px;
  font-family: "Comfortaa", sans-serif;
}
